<asp:Content ID="indexContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Featured Products</h2>
    <div>
        @foreach (var product in Model) {
            @product.Name
            <br />
        }
    </div>
</asp:Content>